<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Resume of Ripudaman Teja">
    <meta name="author" content="Ripudaman Teja">

    <title>Ripudaman Teja &amp; </title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">


    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top" ng-app="ripu">

    <div ng-controller="HomeController">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                        </li>


                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#education">Education</a>
                        </li>



                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#experience">Experience</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#skills">Skills</a>
                        </li>

                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#projects">Projects</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header class="masthead bg-custom text-white text-center">
            <div class="container">
                <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
                <h1 class="text-uppercase mb-0">Ripudaman Teja</h1>
                <hr class="star-dark">
                <h2 class="font-weight-light mb-0">Full-stack Developer - Machine Learning enthusiast</h2>
            </div>
        </header>

        <!-- About Section -->
        <section class="bg-primary text-white mb-0" id="about">
            <div class="container">
                <h2 class="text-center text-uppercase text-white">About</h2>
                <hr class="star-light mb-5">
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                        <p class="lead" style="text-align: justify">A believer of 'perfection or nothing'. I am currently a student at Arizona State University, pursuing Master of Computer Science </p>
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <p class="lead" style="text-align: justify">I am experienced in full-stack website development. I have developed web applications with reponsive design and have done cross browser testing and debugging on them.</p>
                    </div>
                </div>
                <!--
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="#">
            <i class="fa fa-download mr-2"></i>
            Download Now!
          </a>
            </div>
-->
            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
                <h2 class="mb-5 text-center text-uppercase">Education</h2>
                <hr class="star-dark mb-5">

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Arizona State University</h3>
                        <div class="subheading mb-3">Master of Computer Science</div>
                        <div>Computer Science</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">August 2018 - Present</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">National Institute of Technology, Warangal</h3>
                        <div class="subheading mb-3">Bachelor of Technology</div>
                        <div>Electronics and Communication Engineering</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">July 2012 - July 2016</span>
                    </div>
                </div>

            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
                <h2 class="mb-5 text-center text-uppercase">Experience</h2>
                <hr class="star-dark mb-5">

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Graduate Engineer Trainee - Bitkemy Ventures, Hyderabad, India</h3>
                        <p>•Worked as a full stack developer.</p>
                        <p>•Architected, designed and developed frameworks and web interfaces which allows user to create Business process workflows, Entity Relations and Organization Hierarchy.
                        <p>•Designed module to send dynamic emails using Free  Marker Template.</p>
                        <p>•Helped in setting up MongoDB and wrote migration scripts.</p>
                        <p>•Collaborated with front end team for implementing rest end points.</p>
                        <p>•Created a User Management System.</p>
                        <p>•Built a validation module on JavaScript for form validation including email, number, max, min types of validation.</p>
                        <p>•Built a validation system at the back end to validate UI objects using Spring, Hibernate.</p>
                        <p>•Created a Date-time validation.</p>
                        <p>•Integrated Dictionary application in the ERP.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">July 2016 - August 2017</span>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Student Web Developer - NIT Warangal, India</h3>

                        <p>•Designed college website for NIT Warangal – www.nitw.ac.in</p>
                        <p>•Developed a feedback system for students and staffs, which keep their information confidential</p>
                        <p>•Led a team of 5 students for designing a semester grade sheet management system, which stores all the mark sheets of the students.</p>
                        <p>•Developed a mess and room allotment system called as OMAHA (Online Mess and Hostel Allotment)</p>
                        <p>•Designed a module for maintaining a registry for all the professors and staffs, on campus.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">May 2015 - March 2016</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
            <div class="my-auto">
                <h2 class="mb-5 text-center text-uppercase">Skills</h2>
                <hr class="star-dark mb-5">

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Back-end</h3>
                        <div class="skills">
                            <ul class="list-inline">
                                <li data-toggle="tooltip" style="cursor: pointer;" data-placement="bottom" title="JAVA" class="list-inline-item"><i class="devicon-java-plain-wordmark colored icon-size"></i>
                                </li>
                                <li data-toggle="tooltip" style="cursor: pointer;" data-placement="bottom" title="C" class="list-inline-item">
                                    <i class="devicon-c-plain-wordmark colored icon-size"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Front-end</h3>
                        <div class="skills">
                            <ul class="list-inline list-icons">
                                <li data-toggle="tooltip" style="cursor: pointer;" data-placement="bottom" title="HTML5" class="list-inline-item"><i class="devicon-html5-plain-wordmark colored icon-size"></i>
                                </li>
                                <li data-toggle="tooltip" style="cursor: pointer;" data-placement="bottom" title="CSS3" class="list-inline-item"><i class="devicon-css3-plain-wordmark colored icon-size"></i>
                                </li>
                                <li data-toggle="tooltip" style="cursor: pointer;" data-placement="bottom" title="JAVASCRIPT" class="list-inline-item"><i class="devicon-javascript-plain colored icon-size"></i>
                                </li>
                                <li data-toggle="tooltip" style="cursor: pointer;" data-placement="bottom" title="jQUERY" class="list-inline-item"><i class="devicon-jquery-plain-wordmark colored icon-size"></i>
                                </li>
                                <li data-toggle="tooltip" style="cursor: pointer;" data-placement="bottom" title="BOOTSTRAP" class="list-inline-item"><i class="devicon-bootstrap-plain-wordmark colored icon-size"></i>
                                </li>
                                <li data-toggle="tooltip" style="cursor: pointer;" data-placement="bottom" title="ANGULARJS" class="list-inline-item"><i class="devicon-angularjs-plain-wordmark colored icon-size"></i>
                                </li>
                                <li data-toggle="tooltip" style="cursor: pointer;" data-placement="bottom" title="CHROME DEVELOPMENT" class="list-inline-item"><i class="devicon-chrome-plain-wordmark colored icon-size"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Other</h3>
                        <div>
                            <ul class="list-inline list-icons">
                                <li data-toggle="tooltip" style="cursor: pointer;" data-placement="bottom" title="MYSQL" class="list-inline-item"><i class="devicon-mysql-plain-wordmark colored icon-size"></i>
                                </li>
                                <li data-toggle="tooltip" style="cursor: pointer;" data-placement="bottom" title="REDIS" class="list-inline-item"><i class="devicon-redis-plain-wordmark colored icon-size"></i>
                                </li>
                                <li data-toggle="tooltip" style="cursor: pointer;" data-placement="bottom" title="GITHUB" class="list-inline-item"><i class="devicon-github-plain-wordmark colored icon-size"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </section>


        <section class="bg-primary text-white mb-0" id="projects">
            <div class="container">
                <h2 class="text-center text-uppercase text-white">Projects</h2>
                <hr class="star-light mb-5">
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">ASIP design for Video Processing</h3>
                        <div class="subheading mb-3">NIT Warangal, India</div>
                        <div style="text-align: justify">The projected aimed at making an ASIP design for Video Processing. The design was based on Diamond search algorithm. The results achieved were compared with full search block matching algorithm(FSBM), 3SS and 5SS algorithms. The results showed drastic improvements in performance, efficiency and time consumption.</div>
                        <p></p>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Design and implementation of C-Band Patch antenna array.</h3>
                        <div class="subheading mb-3">Defence Electronics Research Labortory (DRDO), Hyderabad, India</div>
                        <div style="text-align: justify">The project aimed at designing a patch antenna array. Design was made in HFSS. The results yielded negligible side lobes with a high gain central lobe.</div>
                        <p></p>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Optimization of a function.</h3>
                        <div class="subheading mb-3">NIT Warangal, India</div>
                        <div style="text-align: justify">Used Genetic Algorithm to optimize the functions. Random selection of cross-over sites and mates, resulted in the production of high quality offsprings and hence the code was able to optimize the function in less than 7-8 iterations. Testing functions such as Rastrigin, Ackley and Rosenbrock functions were used for testing purpose.</div>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio Grid Section -->
        <section class="portfolio" id="portfolio">
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
                <hr class="star-dark mb-5">
                <div class="row">
                    <div class="col-md-6 col-lg-4" ng-click=snakeOpen(); style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Click to play">

                        <a class="d-block mx-auto">
                        <img class="img-fluid" src="img/portfolio/snake.jpeg" alt="">
                            <div class="subheading mb-3 text-justify">Snakes: The game is purely based on HTML5 and JavaScript. For drawing purpose, I have used canvas element. *Works best on a PC</div>
                    </a>

                    </div>
                    <div class="col-md-6 col-lg-4" ng-click=TicTacToeOpen(); style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Click to play">
                        <a class="d-block mx-auto">
                        <img class="img-fluid" src="img/portfolio/tictactoe.jpeg" alt="">
                            <div class="subheading mb-3 text-justify">Tic Tac Toe: The game is based on HTML5 and Vanilla JavaScript. The game also uses an AI algorithm, which makes almost impossible to beat the computer. *Works best on a PC</div>
                    </a>
                    </div>
                    <div class="col-md-6 col-lg-4" data-toggle="tooltip" data-placement="top" title="Click to find a meaning">
                        <a class="d-block mx-auto" ng-click=dictionaryOpen(); style="cursor:pointer;">
                            <img class="img-fluid" src="img/portfolio/dictionary.jpeg" alt="">
                            <div class="subheading mb-3 text-justify">Dictionary: This Dictionary uses Yandex API to search the meaning of the word and then populates the result. *Works best on a PC</div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4" data-toggle="tooltip" data-placement="bottom" title="Click to play">
                        <a class="d-block mx-auto" ng-click=flapOpen(); style="cursor:pointer;">
                            <img class="img-fluid" src="img/portfolio/flappy.jpeg" alt="">
                            <div class="subheading mb-3 text-justify">Flappy bird: This game uses canvas for drawing and JavaScript. It also makes use of P5JS library for animation. *Works best on a PC</div>
                        </a>
                    </div>
                </div>
            </div>
        </section>




        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-0">Contact Me</h2>
                <hr class="star-dark mb-5">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                        <form name="sentMessage" id="suggestionForm">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Name</label>
                                    <input class="form-control" id="name" type="text" placeholder="Name" ng-model="feedback.name" required="required">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Email Address</label>
                                    <input class="form-control" id="email" type="email" placeholder="Email Address" ng-model="feedback.email" required="required">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Message</label>
                                    <textarea class="form-control" id="message" rows="5" placeholder="Message" ng-model="feedback.message" required="required"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="feedback_submit"></div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-xl" ng-click=sendFeedback(); id="sendMessageButton" ng-disabled="feedback.name && feedback.message && feedback.email">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">209, 12 Fifty 5 apartments
                            <br>Tempe, Arizona</p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/ripudaman.teja" target="_blank">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
                            </li>


                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/ripudaman-teja-517256a6" target="_blank">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.instagram.com/ripudaman2301" target="_blank">
                  <i class="fa fa-fw fa-instagram"></i>
                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.github.com/ripu23" target="_blank">
                  <i class="fa fa-fw fa-github"></i>
                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <div class="copyright py-4 text-center text-white">
            <div class="container">
                <small>Copyright &copy; Ripudaman.in</small>
            </div>
        </div>

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-to-top d-lg-none position-fixed ">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
        </div>



        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/freelancer.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
        <script src="app.js"></script>
        <script src="controllers/HomeController.js"></script>
        <script type="application/ld+json">
            {
                "@context": "http://ripudaman.in",
                "@type": "Personal",
                "url": "http://www.ripudaman.in",
                "contactPoint": {
                    "@type": "ContactPoint",
                    "telephone": "+91-8686877847"
                }
            }
        </script>
    </div>
</body>

</html>
